node_modules
.turbo
/pours/
dist
.next
coverage
playwright-report
test-results
.cache
.DS_Store
*.tsbuildinfo
.env
.env.*.local
!.env.example
!apps/api/.env
generated
*.log

/observability/signoz/casting.yaml.lock
